@tailwind base;
@tailwind components;
@tailwind utilities;

.container,
.mini-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container,
  .mini-container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container,
  .mini-container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container,
  .mini-container {
    width: 1170px;
  }
}
/* Extra Large */
@media (min-width: 1400px) {
  .container {
    width: 1525px;
  }
  .mini-container {
    width: 1070px;
  }
}
.hero-heading {
  text-shadow: 1px 1px 1px #000000;
}
.our-app {
  text-shadow: 1px 1px 1px #5f5e5e;
  font-weight: 600;
}
.box-shadow {
  box-shadow: 1px 1px 15px -5px #000000;
}
.heading2 {
  @apply md:text-3xl text-2xl lg:text-4xl xl:text-5xl font-semibold;
}
.resBanner {
  aspect-ratio: 10/6;
}
.formPage {
  @apply min-h-screen pb-16 flex items-center justify-center;
}
.err {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
input:invalid {
  display: block;
}
.leaflet-container {
  @apply h-64 w-full;
  cursor: pointer !important;
}

html[lang="en"] .arOnly {
  display: none;
}
html[lang="ar"] .enOnly {
  display: none;
}
.tableContainer {
  @apply overflow-x-auto max-w-full rounded-xl w-full border;
}
.tableContainer .table {
  @apply w-full text-center;
}
.tableContainer .table td,
.tableContainer .table th {
  @apply whitespace-nowrap py-4;
}
.tableContainer tr {
  @apply border-b;
}
